.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.location-box {
    border-radius: 10px;
    background-color: #f3f3f3;
    width: 70%;
    height: 12%;
    border: none; /* Removing border as it's not visible in the image */
    color: #ffffff; /* White text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.btn-save {
    background-color: #ff6f63; /* Bootstrap primary color */
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 10px white;
    border-radius: 30px;
    border: 2px solid white;
    margin: 20px 0px 20px 0;
    transition: 0.5s;
    padding: 10px 20px;
    width: 80%;
  }
