.bioStyles {
  font-family: Arial, sans-serif; /* Use a common sans-serif font */
  background-color: #f3f3f3; /* Light grey background */
  padding: 20px; /* Add some padding around the content */
  border-radius: 10px; /* Rounded corners */
  width: 80%; /* Set a fixed width */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  text-align: center; /* Center-align the text */
  margin: auto; /* Add margin around the div */
  display: block;
}
.bioStyles textarea{
    width: 100%;
    height: 150px;
    border: none;
    color : black; 

}

.countStyles {
  //position: absolute;
  bottom: 10px;
  color : black; 
  right: 10px;
  fontsize: 0.8em;
}
