@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

.close {
  float: right ; /* Move the button to the right */
  font-size: 2em; /* Increase the font size to make it bigger */
  margin-right: -90%; /* Add some margin to create space between the button and other elements */
  background-color: transparent; /* Make the background transparent */
  border: none; /* Remove any border */
  cursor: pointer;
}

.form1-container {
  background: linear-gradient(90deg, #fe3175, #ff6f63);
  border-radius: 10px;
  box-shadow: 3px 4px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 420px;
  z-index : 3;
  //margin-bottom: 20px;
}


.form1-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form1-content h2 {
  
  color: white;
  font-size: 55px;
  //margin-top: 6vw;

}

.form1-content h2 a {
  color: white;
}

.form1-content h3 {
  color: #ffffff;
  font-size: 25px;
  font-style: italic;
  margin-top: 20px;
  text-transform1: uppercase;
}

.form1-content p {
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.form1-content p a {
  text-decoration: underline;
  color: white;
}

form {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}


.form1-container .form1-content .btn-login {
  background: white;
  color: #fe3175;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 3px 0px 10px black;
  border-radius: 30px;
  transition: 0.5s;
}

.form1-container .form1-content input {
  color: white;
  font-weight: bold;
  width: 80%;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0 0;
  border: 2px solid white;
  background: transparent;
  transition: 0.3s;
  outline: none;
}
::placeholder {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

input:focus {
  transform: scale(1.1);
}

.btn-login:hover,
.btn-login:active {
  transform: scale(1.1);
}
