@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color-hue: 252;
  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;

  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-grey: hsl(252, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  --color-black: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;

  --main-horizontal-position: 50%; /* Adjust for left-right positioning */
  --main-vertical-position: 50%; /* Adjust for up-down positioning */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background-color:#F7F2F2;
  min-height: 100vh;
}

/* =============== General Style ============== */
.Nav_container {
  width: 98%;
  margin: 0 auto 0px auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 650px; /* Adjust as needed */
  padding-bottom: 10px;
}

.connect,
.main {
  /* Remove absolute positioning and use flex sizing */
  width: calc(50% - 5px); /* Adjust the spacing between them */
  height: 100%;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: #6c6ba1;
  color: var(--color-white);
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-grey);
}

/* =============== Navbar ============== */
nav {
  width: 100%;
  background: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

nav .Nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* === Navbar Logo == */

.logo {
  color: black;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  background-image: url("./love.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 50px;
}

/* === Search Bar == */

.search-bar {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
  display: flex; /* Enable flexbox */
  align-items: center; /* Align items vertically */
  position: relative; /* Needed for absolute positioning of children */
}

.search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-grey);
  position: relative;
}

.dropdownSuggestions {
  width: calc(100% - 2rem);
  height: auto;
  background: var(--color-secondary);
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
  padding: 15px;
  position: absolute;
  top: 110%; /* Position below the search bar */
  left: -10;
}

.dropdownSuggestions .suggestion_item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdaff;
  padding: 0.6rem; /* Increase padding to add more space inside each item */
  font-size: 0.6rem;
}

.dropdownSuggestions .suggestion_item:last-child {
  border-bottom: 0px;
}

.dropdownSuggestions .suggestion_item .suggestions_info span {
  color: #0d0d1b;
  margin-left: 5px;
}

.dropdownSuggestions .suggestion_item .suggestions_info {
  color: #000000;
  font-size: 12px;
}

/* === Notification == */

.notification {
  position: relative;
  display: inline-block;
}

nav .uil-bell {
  position: relative;
  font-size: 30px;
}

nav .notification-count {
  background: var(--color-danger);
  color: white;
  font-size: 20px;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -1px; /* Adjust this value to position the notification count at the top right of the bell icon */
  right: -10px;
  font-size: 0.75rem; /* Adjust the font size of the notification count as needed */
  padding: 0.2rem 0.4rem; /* Adjust the padding to fit the content */
  z-index: 11; /* Ensure the notification count is above other elements */
}

.dropdown {
  left: 30px;
  width: 300px;
  height: auto;
  background: var(--color-secondary);
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
  margin: 15px auto 0;
  padding: 15px;
  left: -130px;
  position: absolute;
}

.dropdown .notify_item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdaff;
}

.dropdown .notify_item:last-child {
  border-bottom: 0px;
}

.dropdown .notify_item .notify_img {
  margin-right: 15px;
}

.dropdown .notify_item .notify_info p {
  margin-bottom: 5px;
}

.dropdown .notify_item .notify_info p span {
  color: #0d0d1b;
  margin-left: 5px;
}

.dropdown .notify_item .notify_info .notify_time {
  color: #000000;
  font-size: 12px;
}

.dropdown:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: transparent transparent var(--color-secondary) transparent;
}

/* === Profile card == */

nav .profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: transparent;
  border-radius: 8px;
  padding: 0px; /* Adjust as needed */
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto; /* In case content is too large */
  position: relative; /* Added line */
}

.close {
  position: absolute; /* Changed from relative to absolute */
  top: 10px; /* Added line */
  right: 0px; /* Added line */
  width: 40px; /* Increased width */
  height: 40px; /* Increased height */
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#card {
  background: linear-gradient(90deg, #dbdaff, #dbdaff);
  height: auto;
  width: 350px;
  margin: 0 auto;
  border-radius: 25px;
  padding-bottom: 1px;
}

h1 {
  color: white;
  text-align: center;
  width: 100%;
  background-color: #e6ebee;
  border-radius: 25px 25px 0 0;
  color: #393b45;
  padding: 15px 0;
  font-weight: 800;
  margin: 0;
}

.image-crop {
  display: block;
  position: relative;
  background-color: #e6ebee;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #4069e2;
}

.image-crop img {
  width: 100%;    /* Makes the image fill the container width */
  height: 100%;   /* Makes the image fill the container height */
  object-fit: cover; /* Ensures the image covers the area without distorting */
}

#avatar {
  display: inline;
  height: 230px;
  width: auto;
  margin-left: -34px;
}

#bio {
  display: block;
  margin: 30px auto;
  width: 280px;
  height: auto;
}

#bio p {
  color: #000000;
  font-weight: lighter;
  font-size: 20px;
  text-align: justify;
}

#stats {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-weight: 500;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.stat {
  font-size: 25px;
  margin: 0;
}

.label {
  margin: 0;
}

#buttons {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 280px;
}

button {
  display: block;
  position: relative;
  padding: 10px 0;
  width: 130px;
  margin: 30px 0;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  letter-spacing: 0.2px;
  font-weight: 500;
  background-color: #4069e2;
  color: #e6ebee;
}

button:focus {
  display: none;
}

button:hover {
  transform: scale(1.03);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#msg {
  background-color: #e6ebee;
  color: #393b45;
}

/* =============== Main ============== */
main {
  //width: 600px;
  width: 43%;
  height: 88%;
  position: absolute;
  right: 3%;
  transform: translateY(-50%);
  top: 55%;
}

.photo-and-actions {
  height: calc(100% - 44px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: auto;
  height: 100%;
}

.photo {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.7);
  overflow: hidden;
  position: relative;
  width: 95%;
  height: 95%;
  max-height: 650px;
  background-color: rgba(0, 0, 0, 0.92);
  position: relative;
}

.photo img {
  display: block; /* Remove any default inline spacing */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: contain; /* Fit the image within the container without cropping */
  object-position: center; /* Center the image within the container */
}

.photo-text {
  position: absolute; /* Absolute position to overlay the photo */
  bottom: 0; /* Align to the bottom of the .photo container */
  left: 0; /* Align to the left of the .photo container */
  width: 100%; /* Take the full width of the .photo container */
  padding: 20px; /* Padding inside the text container */
  background: linear-gradient(
    to top, /* Gradient going from bottom to top */
    rgba(0, 0, 0, 1) 0%, /* More solid black at the bottom */
    rgba(0, 0, 0, 0) 40% /* Transparent half-way up */
  ); /* Gradient background */
  border-radius: 0 0 10px 10px; /* Rounded corners at the bottom */
  color: white; /* Text color */
}

.photo-name-and-age {
  align-items: baseline;
  font-size: 1rem;
}

.photo-name, .photo-age {
  font-weight: bold; /* Name and age both bold */
  color: white;
  margin-right: 5px; /* Smaller margin */
}

.photo-name {
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.photo-age {
  font-weight: 500;
  color: white;
}

.photo-bio {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 6px;
}

.actions {
  width: 100%; /* Full width of the container */
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  padding: 8px 0; /* Add some padding at the top and bottom */
}

.action {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  height: 60px;
  width: 60px;
}

.action:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.dislike {
  color: #fd5068;
  height: 50px;
  width: 50px;
}

.superlike {
  color: #2db1ff;
  height: 48px;
  width: 48px;
  font-size: 1.5rem;
}

.like {
  color: #1be4a1;
  height: 40px;
  width: 40px;
}

/* =============== Connect ============== */

.connect {
  position: absolute;
  left: 20px;
  top: 11%;
  max-width: 780px;
  max-width: 780px; /* Example max-width */
  height: 650px;
}

.connect .messages {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  height: 100%;
}

.connect .messages .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.connect .messages i {
  font-size: 1.4rem;
}

.connect .messages .search-bar {
  display: flex;
  margin-bottom: 1rem;
}

.connect .messages .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.connect .messages .category h6 {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
}

.connect .messages .category .active {
  border-color: var(--color-dark);
}

.connect .messages .message-requests {
  color: var(--color-primary);
}

.connect .messages .message {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: start;
}

.connect .message .profile-photo {
  position: relative;
  overflow: hidden;
  width: 60px; /* Set the size of the circle */
  height: 60px; /* Equal to the width for a perfect circle */
  border-radius: 50%; /* Circular shape */
}

.connect .profile-photo img {
  width: 100%; /* Ensures the image covers the container */
  height: 100%; /* Ensures the image covers the container */
  object-fit: cover; /* Ensures the image covers the space without distortion */
}

.connect .messages .message:last-child {
  margin: 0;
}

.connect .messages .message p {
  font-size: 0.8rem;
}

.connect .messages .message .profile-photo .active {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  background: var(--color-success);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* =============== Friend Requests ============== */
.right .friend-requests {
  margin-top: 1rem;
}

.right .friend-requests h4 {
  color: var(--color-grey);
  margin: 1rem 0;
}

.right .request {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;
}

.right .request .info {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.right .request .action {
  display: flex;
  gap: 1rem;
}

.bottom-nav-bar {
  display:none;
}


/* ================= 
MEDIA QUERIES FOR SMALL LAPTOP AND BIG TABLETS 
==================== */
@media screen and (max-width: 600px) {
  /* =============== Navbar ============== */
  .logo {
    font-size: 25px;
    padding-left: 35px;
    text-indent: -9999px; /* pushes the text out of view */
  }

  main {
    width: 75%;
    right: 3%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 96%;
    overflow: hidden;
  }

  .dropdown {
    left: -90px;
    width: 220px;
  }

  nav:focus-within .search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav:focus-within .search-bar input[type="search"] {
    width: 100%;
    margin-left: 0;
  }

  nav:focus-within .logo,
  nav:focus-within .profile,
  nav:focus-within .notification {
    display: none;
  }

  nav .uil-bell {
    font-size: 30px;
  }

  .btn-primary {
    //width: 30px;
    font-size: 0.9rem;
    //padding: 10px;
  }
  /* =============== Main ============== */
  main {
    width: 90%;
    height: 77%;
    right: 50%; /* Moves it to the middle */
    top: 48%;
    margin-righ: 0px;
    transform: translateX(50%) translateY(-50%); /* Adjusts for the width of the element */
  }
  .photo {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.7);
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 95%;
  }

  /* =============== Connect ============== */

  .connect {
    width: 90%;
    height: 77%;
    top: 48%;
    margin-righ: 0px;
    transform: translateX(1%) translateY(-50%); /* Adjusts for the width of the element */
  } 

  .bottom-nav-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px; /* fixed height instead of percentage */
    
    background-color: #4D4C7D; /* Deep Blue */
    color: #FFFFFF; /* White for text/icons */
    
    z-index: 10; /* Make sure it's above other content */
    justify-content: space-around;
    align-items: center; /* Vertically center the items */
    padding: 0;
    margin: 0;
  }
  
  .bottom-nav-bar-item {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the icon and text horizontally */
    flex-grow: 1; /* Equal width for each nav item */
    color: white;
    padding: 12px;
    text-decoration: none; /* No underlines on links */
    transition: background-color 0.2s; /* Smooth transition for background color */
  }
  
  .bottom-nav-bar-item:hover, .bottom-nav-bar-item:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* No additional span styles are necessary unless you want to animate the text appearance */
  .bottom-nav-bar-item i {
    pointer-events: none; /* Ignore pointer events on the icon itself */
  }
  
}
